# ── środowiska ───────────────────────────
.venv/
venv/
pyvenv.cfg

# ── Python cache ─────────────────────────
__pycache__/
*.py[cod]

# ── pliki IDE / systemowe ────────────────
.idea/
.DS_Store
Thumbs.db